<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mycomp.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.mycomp.domain.Permission">
        <id column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="pname" jdbcType="VARCHAR" property="pname"/>
        <result column="presource" jdbcType="VARCHAR" property="presource"/>
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select pid, pname, presource
        from permission
    </select>

    <select id="selectPermissionsByRoleId" resultType="com.mycomp.domain.Permission">
        select *
        from permission
        where pid in (select pid
                      from role_permission_rel
                      where rid = #{rid})
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from permission
        where pid = #{pid,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.mycomp.domain.Permission">
        insert into permission (pid, pname, presource)
        values (#{pid,jdbcType=BIGINT}, #{pname,jdbcType=VARCHAR}, #{presource,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.mycomp.domain.Permission">
        update permission
        set pname     = #{pname,jdbcType=VARCHAR},
            presource = #{presource,jdbcType=VARCHAR}
        where pid = #{pid,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select pid, pname, presource
        from permission
        where pid = #{pid,jdbcType=BIGINT}
    </select>

</mapper>